#container {
    max-width: 300px;
    margin: 100px auto 0;
    
}

h3 {
    height: 60px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    margin: 5px;
    height: 30px;
    padding-left: 15px;
    border: 0;
    background-color: rgba(5, 97, 77, 0.171);
    border-radius: 20px;

}

input[type="submit"] {
    background: rgb(5, 97, 77);
    color: #fff;
    padding: 0;
    cursor: pointer;
}
