#container {
    max-width: 315px;
    margin: 100px auto 0;
    text-align: center;
    
}

.form-input, .form-input-btn {
    width: 90%;
    margin: 5px;
    height: 30px;
    padding-left: 15px;
    border: 0;
    background-color: rgba(5, 97, 77, 0.171);
    transition: 0.3s;

}

.form-input:hover, .form-input-btn:hover, .form-input-btn:focus, .form-input:focus {
    width: 100%;
}

.form-input-btn {
    background: rgb(5, 97, 77);
    color: #fff;
    padding: 0;
    cursor: pointer;
    transition: 0.3s;
}
